<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (a) {
      <div>
        <h2 data-cy="aDetailsHeading"><span jhiTranslate="ddd2App.a.detail.title">A</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="ddd2App.a.id">Id</span></dt>
          <dd>
            <span>{{ a.id }}</span>
          </dd>
          <dt><span jhiTranslate="ddd2App.a.name">Name</span></dt>
          <dd>
            <span>{{ a.name }}</span>
          </dd>
          <dt><span jhiTranslate="ddd2App.a.e">E</span></dt>
          <dd>
            @if (a.e) {
              <div>
                <a [routerLink]="['/e', a.e.id, 'view']">{{ a.e.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/a', a.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
